@import url('base.css');

/* English version overrides */
.container {
  width: 1060px;
}

.left-section {
  width: 253px;
}

.right-section {
  width: 760px;
  padding: 20px;
  padding-bottom: 11px;
}

.main-title .title {
  line-height: 5px;
}

.module .title {
  padding-bottom: 2px;
}

.skill-list {
  width: 755px;
}

.skill-list .skill {
  position: relative;
  width: 360px;
  float: left;
  margin-top: 15px;
}
