@import url('base.css');

/* Chinese version overrides */
.container {
  width: 940px;
}

.left-section {
  width: 240px;
}

.right-section {
  margin-right: -12px;
  width: 628px;
  padding: 24px;
}

.main-title .title {
  line-height: 32px;
}

.module .title {
  padding-bottom: 5px;
}

.skill-list {
  width: 630px;
}

.skill-list .skill {
  position: relative;
  width: 315px;
  float: left;
  margin-top: 15px;
}
