doctype html
html(lang='en')
  head
    title= pageTitle
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='css/bootstrap.min.css')
  body
    div(class='container')
      div(class='row')
