doctype html
html(lang='zh')
  head
    title= pageTitle
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/customize.css')
  body
    div(class='container')
      div(class='row shape')
        div(class='col-xs-4 col-sm-4 col-md-4')
          img(src='image/head.jpg' class="img-responsive img-circle")
        div(class='col-xs-8 col-sm-8 col-md-8')
